---
layout: base.njk
title: eltink.net
date: 2018-10-09
---

<main class="page-main">
{% image "./src/assets/images/logo.png", "Eltink family weapon" %}
<div class="borderOutside container">
    <div class="borderInside">
        <div class="history">
            <h1>Eltink Family History</h1>
            <br />
            <p>There are thought to be two possible origins for the surname Eltink, which appears to be a Dutch
                rendering of the German name "Elting". First of all, Eltink may be a patronymic name, one that was
                drawn from the given name of the father of the original bearer. In this instance, the inspiration
                for the name would probably have been a name such as "Aldo" or "Aldico", both pet forms of old
                Germanic personal names like "Aldawin" and "Aldebrand", themselves ultimately derived from the Old
                High German word "alt", meaning "old". Research indicates that most Germanic patronymic names were
                based, as was Eltink, on vernacular personal names rather than on baptismal names honoring
                Christian saints, which were the source for most patronymic names in other European cultures.</p>
            <br />
            <p>The second suggested origin for the surname Eltink, as advanced by the respected scholars
                Brechenmacher and Bahlow, is as a toponymic name linking the original bearer with a place of
                habitation. In this case, it is believed that at least some bearers of the name Eltink are the
                descendants of one-time residents of the town of Eltingen, which is located in the territory of
                Wuerttemberg, near the larger settlement of Leonberg, which once served as a regional
                administrative center. There are several examples in German records of persons whose names
                reflected their connections with Eltingen. One "Uolrich Elting" was recorded as a witness in a
                judicial proceeding at Rottemburg in 1332, while references from the thirteenth century mention
                "Wernherus, presbiter de Eltingen" and his brother "Marquardus" as owner of an estate. More
                recently, the farmers Bernard and Eleanor Elting were recorded in an 1850 census of Dutch
                households in the United States.</p>
            <br />
            <p>The weapon symbolizes Strength and Courage.</p>
        </div>
    </div>
</div>
</main>
